body {
    background-color: #FFF8DC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-cokelat {
    background-color: #A67B5B !important;
}

.text-cokelat {
    color: #5C4033 !important;
}

.btn-custom {
    background-color: #5C4033;
    color: white;
    font-weight: bold;
}

.btn-custom:hover {
    background-color: #D2B48C;
    color: #5C4033;
}

.img-katalog {
    height: 220px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}